<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Diabitic Clinic | Admin</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/adminStyle.css">
  <script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
</head>

<body>

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand">Diabetic Clinic</a>
        <a class="navbar-brand">Admin Panel</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Dashboard</a></li>
          <li class="active"><a href="">Users</a></li>
          <li><a href="">Pharmacy</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="">Welcome,Kavinda</a></li>
          <li><a href="/">Logout</a></li>
          <li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>

  <header id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <h1><span class="glyphicon glyphicon-cog"></span> Dashboard</h1>
        </div>
        <div class="col-md-2">
          <div class="dropdown create">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Users
                  <span class="caret"></span>
                </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Add User</a></li>
              <li><a href="#">Remove User</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>

  </header>

  <section id="breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md">
          <ol class="breadcrumb">
            <li>Dashboard</li>
            <li class="active">Users</li>

          </ol>
        </div>

      </div>

    </div>
  </section>

  <section id="main">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="list-group">
            <a href="/admin/dashboard" class="list-group-item"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard</a>
            <a href="/admin/users" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users</a>
            <a href="/admin/Pharmacy" class="list-group-item"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Pharmacy</a>
          </div>
        </div>

        <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-heading main-color-bg">
              <h3 class="panel-title">
                  Add Users: Staff
                </h3>

            </div>
            <div class="panel-body">

              <div class="col-md-8 col-md-offset-2">
                <form id="login" action="/admin/addStaff/submit" method="POST" class="well">


                  <div class="form-group">
                    <label>Staff ID*(Must start with "S")</label>
                    <input type="text" name="id" id="id" class="form-control" placeholder="Enter Staff ID">
                  </div>
                  <%if(idError){%>
                    <div class="alert alert-danger">
                      <h5>Enter Valid Staff ID</h5>
                    </div>
                    <%}%>
                      <div class="form-group">
                        <label>First Name*</label>
                        <input type="text" name="firstName" id="firstName" class="form-control" placeholder="Enter First Name">
                      </div>
                      <%if(firstNameError){%>
                        <div class="alert alert-danger">
                          <h5>Enter First Name</h5>
                        </div>
                        <%}%>
                          <div class="form-group">
                            <label>Last Name*</label>
                            <input type="text" name="lastName" id="lastName" class="form-control" placeholder="Enter Last Name">
                          </div>
                          <%if(lastNameError){%>
                            <div class="alert alert-danger">
                              <h5>Enter Last Name</h5>
                            </div>
                            <%}%>
                              <div class="form-group">
                                <label>Email*</label>
                                <input type="text" name="email" id="email" class="form-control" placeholder="Enter Email">
                              </div>
                              <%if(emailError){%>
                                <div class="alert alert-danger">
                                  <h5>Enter a valid email</h5>
                                </div>
                                <%}%>
                                  <div class="form-group">
                                    <label>Contact No*(ex:-041xxxxxxxx)</label>
                                    <input type="text" name="contactNo" id="contactNo" class="form-control" placeholder="Enter Contact Number">
                                  </div>
                                  <%if(contactNoError){%>
                                    <div class="alert alert-danger">
                                      <h5>Enter Contact No</h5>
                                    </div>
                                    <%}%>
                                      <div class="form-group">
                                        <label>Designation*</label>
                                        <select class="form-control" id="designation" name="designation">
                  <option>Doctor</option>
                  <option>Administrator</option>
                  <option>Receptionist</option>
                  <option>Pharmacist</option>
                  <option>LabTechnician</option>
                </select>
                                      </div>
                                      <div class="form-group">
                                        <label>Username*</label>
                                        <input type="text" name="username" id="username" class="form-control" placeholder="Enter username">
                                      </div>
                                      <%if(usernameError){%>
                                        <div class="alert alert-danger">
                                          <h5>Enter Username</h5>
                                        </div>
                                        <%}%>
                                          <div class="form-group">
                                            <label>Password*</label>
                                            <input type="password" name="password" id="password" class="form-control" placeholder="Enter password">
                                          </div>
                                          <%if(passwordError){%>
                                            <div class="alert alert-danger">
                                              <h5>Must be at least 8 characters</h5>
                                            </div>
                                            <%}%>
                                              <div class="form-group">
                                                <label>Confirm Password*</label>
                                                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirm Password">
                                              </div>
                                              <%if(confirmPasswordError){%>
                                                <div class="alert alert-danger">
                                                  <h5>Password Missmatch</h5>
                                                </div>
                                                <%}%>
                                                  <center>
                                                    <input type="submit" class="btn btn-primary" value="Submit" id="login">


                                                  </center>

                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>


  <footer id="footer">
    <p>Copyright &copy</p>

  </footer>
  <!--ckeditor-->
  <script>
    CKEDITOR.replace('pagebody');
  </script>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

</body>

</html>
